<div class="container bg-secondary px-5 pb-5 text-light">
  <div class="info">
    <div class="edit d-flex justify-content-end">
      <button class="edit-btn m-2 btn btn-sm btn-info" (click)="editSelf()">Edit</button>
    </div>
    <ul>
      <li>Name: <strong class="text-info ml-2">{{ infoAboutSelf.name }}</strong> </li>
      <li>E-mail address: <strong class="text-info ml-2">{{ infoAboutSelf.email}}</strong></li>
      <li>UID: <strong class="text-info ml-2">{{ infoAboutSelf.id }}</strong></li>
      <li>Data Base id: <strong class="text-info ml-2">{{ infoAboutSelf._id }}</strong></li>
      <li>Created at: <strong class="text-info ml-2">{{ infoAboutSelf.created_at | date:'yyyy-MM-dd HH:mm' }}</strong>
      <li>Updated at: <strong class="text-info ml-2"
          *ngIf="infoAboutSelf.updated_at; else empty">{{ infoAboutSelf.updated_at | date:'yyyy-MM-dd HH:mm' }}</strong>
      <li>Status: <strong class="text-info ml-2" *ngIf="infoAboutSelf.isAdmin">Admin</strong>
        <strong class="text-info ml-2" *ngIf="!infoAboutSelf.isAdmin">Customer</strong></li>
    </ul>
    <h3>User rights:</h3>
    <ul *ngIf="infoAboutSelf.userRights.length > 0; else noRights">
      <li *ngFor="let right of infoAboutSelf.userRights">{{ right | rights }}</li>
    </ul>
  </div>

</div>
<ng-template #empty> <strong class="text-info ml-2">no update</strong></ng-template>
<ng-template #noRights> <strong>no rights</strong></ng-template>