<div class="container">
  <div class="info bg-secondary p-5 text-light">
    <ul>
      <li>Name: <strong class="text-info ml-2">{{ infoAboutSelf.name }}</strong> </li>
      <li>E-mail address: <strong class="text-info ml-2">{{ infoAboutSelf.email}}</strong></li>
      <li>UID: <strong class="text-info ml-2">{{ infoAboutSelf.id }}</strong></li>
      <li>Data Base id: <strong class="text-info ml-2">{{ infoAboutSelf._id }}</strong></li>
      <li>Created at: <strong class="text-info ml-2">{{ infoAboutSelf.created_at | date:'yyyy-MM-dd HH:mm' }}</strong>
      <li>Updated at: <strong class="text-info ml-2"
          *ngIf="infoAboutSelf.updated_at; else empty">{{ infoAboutSelf.updated_at | date:'yyyy-MM-dd HH:mm' }}</strong>
      <li>Status: <strong class="text-info ml-2" *ngIf="infoAboutSelf.isAdmin">Admin</strong>
        <strong class="text-info ml-2" *ngIf="!infoAboutSelf.isAdmin">Customer</strong></li>
    </ul>
  </div>
</div>
<ng-template #empty> <strong>no update</strong></ng-template>