<header class="header navbar bg-secondary text-light">
  <div class="header-title">
    <h2>Admin Panel</h2>
  </div>
  <div class="header-info">
    <div class="name">Name</div>
    <div class="email"><small>email@gmail.com</small></div>
  </div>
</header>
<div class="container">
  <nav class="navbar">
    <button class="btn btn-sm btn-outline-secondary w-20" [routerLink]="'home'">Home</button>
    <button class="btn btn-sm btn-outline-secondary w-20" [routerLink]="'my-page'">My Page</button>
    <button class="btn btn-sm btn-outline-secondary w-20" [routerLink]="'users'">Users</button>
    <button class="btn btn-sm btn-outline-secondary w-20" [routerLink]="'login'">Logout</button>
  </nav>
</div>