<div class="container">
  <div class="home mt-5">
    <div class="h2 text-center">
      <h2>Welcome!</h2>
    </div>
    <div class="txt">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, quia minus eum ducimus tenetur ab enim magni
        repellat et! Aperiam, quas odit, repellat dolore provident pariatur laboriosam asperiores dolorum id eius quis
        unde illo cupiditate dolores molestias adipisci quia quod. Tempore ut cumque, harum illo fuga sed ipsum nemo
        corporis totam minima qui vel veniam delectus quasi. Ipsam alias laborum quam, odit neque assumenda illum unde
        accusantium? Consequuntur aliquam minima aperiam placeat excepturi consequatur est, hic iusto nihil nesciunt!
        Recusandae similique, exercitationem perspiciatis eum ducimus ad ullam? Doloremque tempore officiis, alias
        recusandae maxime ad, quae dolore beatae facilis, rerum minus.</p>
    </div>
  </div>
</div>