<div class="container">
  <div class="edit p-3">
    <div class="name navbar">
      <div>
        <label for="name">Name:</label>
        <input class="form-control w-75 d-inline ml-3" type="text" name="name" id="name" [ngModel]="editedUser.name"
          #name>
      </div>

      <div>
        <button class="ml-3 btn btn-sm btn-success" (click)="save(name)">Save</button>
        <button class="ml-3 btn btn-sm btn-warning" (click)="cancel.emit()">Cancel</button>
      </div>
    </div>
  </div>
</div>