<app-add (updateUserList)="onPageChange()"></app-add>
<app-edit-user *ngIf="edit" [editedUser]="editedUser" (cancel)="editUser()"></app-edit-user>
<div class="container mt-3">
  <table class="table table-hover table-striped table-secondary">
    <thead class="thead-dark">
      <tr class="text-center">
        <th>Count</th>
        <th>Name</th>
        <th>Info</th>
        <th *ngIf="accesRight">Edit</th>
        <th *ngIf="accesRight">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr class="text-center" *ngFor="let user of usersArr; let i = index">
        <td>{{ (i + 1 - pagination.pageSize) + (pagination.page * pagination.pageSize) }}</td>
        <td>{{ user.name }}</td>
        <td><button class="btn btn-sm btn-info" (click)="getInfoAboutUser(user.id)">About user</button></td>
        <td *ngIf="accesRight"><button class="btn btn-sm btn-primary" (click)="editUser(user)">Edit user</button></td>
        <td *ngIf="accesRight"><button class="btn btn-sm btn-warning" (click)="deleteUser(user.id)">Delete user</button>
        </td>
      </tr>
    </tbody>
  </table>
  <ngb-pagination class="d-flex justify-content-center" [collectionSize]="pagination.collectionSize"
    [(page)]="pagination.page" [pageSize]="pagination.pageSize" (pageChange)="onPageChange()">
  </ngb-pagination>
</div>