<div class="container mt-5">
  <h2 class="text-center">Some info about self page</h2>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam repudiandae laboriosam deserunt atque repellendus
    perspiciatis eum excepturi quo tenetur aspernatur impedit, ab ad quae quos saepe ut veniam quis omnis provident
    accusantium magnam consequuntur illum! Ex fugiat et aliquid. Eligendi cum quam ipsum sapiente minus, ea dolor
    inventore corporis quasi earum possimus error perferendis voluptas! Temporibus ipsam, quis quo fugit facilis aperiam
    suscipit nam doloremque ipsum omnis excepturi explicabo, natus magni placeat. Unde quo ipsa consequatur eos nostrum
    aliquam nulla vitae quis dolorum accusantium! Dolore saepe eligendi vitae laboriosam temporibus repudiandae fugit,
    ipsa vel culpa cumque id impedit placeat nulla!</p>
</div>